@import "bootstrap";
#page_navbar{
  background-color: #754907 !important;
}
#logo{
  float:left;
  font-size:1.7em;
  color:#fff;
    text-transform:uppercase;
  letter-spacing: -1px;
  font-weight:bold;
}
#logo:hover{
 colorr:#fff;
 text-decoration:none;
}

.center{
  text-align:center
}
.jumbotron{
  background-image:asset-url('image.jpeg');
  background-size:cover;
  height:550px;
}
.jumbotron h1{
  color:#fff;
  text-align:center;
  margin-bottom:30px;
  letter-spacing:-1px;
  font-weight:bold;
}
.btn-xlarge{
  font-size:1.7em;
  background-color:#754907 !important;
}
.btn-xlarge:hover{
  background-color: black !important;
}

footer{
  margin-top:45px;
  padding-top:5px;
  border-top:1px solid #eaeaea;
  color:#777;
}
footer a:hover{
  color:#222;
}
footer small{
  float:left;
}
footer ul{
  float:right;
  list-style:none;
}
footer ul li{
  float:left;
  margin-left:15px;
}
.col-sm-offset-2{
  margin-left:16.66%;
}
.col-xs-offset-4{
  margin-left:33%;
}
